$font-stack: 'Muli',
sans-serif;
$font-stack-logo: 'Raleway',
sans-serif;
$font-stack-headers: 'Open Sans',
sans-serif;

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}

a:focus {
    list-style-type: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

h2 {
    padding-bottom: 20px;
    font-family: $font-stack-headers;
    letter-spacing: 2px;
    font-weight: 800;
}

h4 {
    padding-bottom: 20px;
}


h3 {
    font-family: $font-stack-headers;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.container {
    overflow: hidden;
}

//PRELOADER

.loaderArea {
    background: linear-gradient(90deg, #f086af, #eb9d7f);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}


.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}


//HERO

.hero {
    background: linear-gradient(to left, #eb9d7f, #f086af);
    width: 100%;
    height: 600px;
}

.hero-txt {
    padding-top: 170px;
    font-size: 60px;
    text-align: center;
    font-family: $font-stack-headers;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.87);
    color: transparent;
    animation: shadows 9s infinite ease-in;
}

.hero_describtion {
    text-align: center;
    font-family: $font-stack;
    font-size: 22px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.829);
    color: transparent;
    padding-top: 100px;
    text-transform: uppercase;
}

@keyframes shadows {
    60% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.705);
    }

    90% {
        text-shadow: 0 50px 60px transparent;
    }

    100% {
        text-shadow: 0 0 0 transparent;
    }
}

.flex-nav {
    display: flex;
    padding-top: 30px;
}

.logo {
    width: 20%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: $font-stack-logo;
}

.header-navigation {
    padding-top: 15px;
    width: 100%;
    text-align: right;
    font-family: $font-stack;
}

.nav_links {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 17px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:visited {
    text-decoration: none;
    color: white;
}

li a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.493);
}

li a:hover,
.nav_links:active {
    text-decoration: none;
    transition: all .8s;
    color: rgb(255, 219, 199);
}

#link_get-in-touch {
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    padding: 11px 23px;
}

.menu {
    text-align: right;
}

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.menu__icon span {
    display: block;
    position: absolute;
    margin-top: 10px;
    height: 9px;
    width: 100%;
    background: #ffffffab;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.nav_links:hover {
    text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .header-navigation {
    display: block;
}


//ABOUT

.about {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.about_background {
    background-color: rgb(249, 252, 253);
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: $font-stack;
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
}

.about_describtion {
    padding: 30px 150px 0px 150px;
    font-family: $font-stack;
    font-size: 16px;
    color: rgb(160, 160, 160);
    line-height: 28px;
}

#btn-get-in-touch {
    margin-top: 30px;
    background-color: rgb(251, 223, 241);
    color: rgb(235, 134, 181);
    border-radius: 32px;
    font-size: 17px;
    font-family: $font-stack;
    width: 190px;
    height: 60px;
    border: none;
    outline: none;
}


//SPOILER BLOCKS

.spoiler-title {
    cursor: pointer;
}

.spoiler-body {
    display: none;
    font-size: 17px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
    padding-top: 20px;
}

.spoiler_img {
    padding-top: 10px;

}

#icon1,
#icon2,
#icon3 {
    height: 40px;
    width: 40px;
    padding: 5px
}



//SERVICES

.services {
    height: 700px;
    background-color: rgb(249, 252, 253);
    padding-top: 90px;
    text-align: center;
}

.txt_above {
    font-size: 12px;
    color: rgb(189, 189, 189);
    letter-spacing: 3px;
}

.txt_blocks_description {
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
}

.our_services_items {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.our_services_items_names {
    font-size: 25px;
    font-weight: bold;
}

.our_services_items_txt {
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
}

.glyphicon {
    padding-bottom: 30px;
    font-size: 30px;
}

.strategy,
.design,
.development,
.help_supports {
    text-align: center;
}


//SUBSCRIBE

.subscribe {
    background: linear-gradient(to left, #eb9d7f, #f086af);
    height: 530px;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    color: white;
}

.email_form {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 30px;
    padding: 15px 70px;
    margin-top: 30px;
    outline: none;
}

.email_form::placeholder {
    color: rgba(255, 255, 255, 0.507);
    font-size: 16px;
}


//WORKS

.works {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 80px;
}

.works_examples {
    margin-top: 80px;
}

.work_example_item {
    display: flex;
    padding-bottom: 100px;
}

.pink_background {
    background-color: rgb(251, 223, 241);
    width: 480px;
    height: 600px;
    padding-top: 20px;
    padding-left: 20px;
}

.work_example-txt {
    padding-left: 150px;
    padding-top: 150px;
}

.work_example_notebook-txt {
    padding-right: 150px;
    padding-top: 150px;
}

.portfolio_describtion {
    font-size: 18px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
    line-height: 30px;
}

#btn_learn_more {
    color: white;
    margin-top: 30px;
    background-color: #ff86a0;
    border-radius: 32px;
    font-size: 15px;
    font-family: $font-stack;
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
}

#view_all_projects {
    margin-top: 30px;
    background-color: #ff86a0;
    color: rgb(255, 255, 255);
    border-radius: 32px;
    font-size: 17px;
    font-weight: bold;
    font-family: $font-stack;
    width: 190px;
    height: 60px;
    border: none;
    outline: none;
}


//OWL CAROUSELS

.home-demo-works,
.home-demo-reviews {
    background-color: rgb(249, 252, 253);
    padding-bottom: 70px;
}

.home-demo-works .item,
.home-demo-reviews .item {
    background: rgba(177, 225, 229, 0.411);
    height: 300px;
    font-family: $font-stack;
    padding: 10px 20px;
    margin: 50px 30px 10px 30px;
}

.home-demo-works h2,
.home-demo-reviews h2 {
    color: rgb(172, 172, 172);
    text-align: center;
    padding-top: 25px;
    margin: 0;
    font-style: italic;
    font-weight: 300;
    margin-top: 40px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    display: none;
}

.latest_works-describtion {
    color: rgb(158, 158, 158);
    text-align: center;
    font-style: italic;
    padding-top: 22px;
    font-size: 20px;
}



//REWIEWS

.reviews {
    background-color: rgb(249, 252, 253);
    height: 670px;
    padding-top: 80px;
    text-align: center;
}

.reviews_txt {
    padding: 30px;
}

.glyphicon-thumbs-up {
    padding-top: 40px;
}



//ACHIEVEMENTS

.achievements {
    height: 450px;
    background-color: rgba(17, 196, 212, 0.918);
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    padding-top: 80px;
}

.achievements_numbers-items {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
}

.numberYears,
.numberProjects,
.numberCustomers {
    font-size: 50px;
    font-weight: 800;
}

.txt_blocks_description-achievements {
    color: rgba(255, 255, 255, 0.685);
    font-size: 17px;
}



//CONTACT FORM

.contact {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 700px;
    margin-bottom: 15px;
}

.head {
    font-size: 2.5em;
    font-weight: bold;
    color: #212121;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 100px;
}

.head_para {
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

.mail_grids {
    margin-top: 5em;
}

.mail_grids .btn-contact {
    outline: none;
    color: #fff;
    letter-spacing: 5px;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background: #111;
    padding: 0.9em;
    margin-top: 2em;
    border-radius: 20px;
}

.mail_grids .btn-contact:hover {
    background-color: #f37a95;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    width: 100%;
    vertical-align: top;
    padding: 1.3em 0;
}

.input__field {
    position: relative;
    display: block;
    float: left;
    padding: 0.8em;
    width: 100%;
    border: 1px solid #b6b5b5;
    border-radius: 20px;
    outline: none;
}

.help-block {
    text-align: center;
}

.errorMsg {
    border-color: rgba(245, 20, 20, 0.822);
}



//BLOG

.blog {
    background-color: rgb(249, 252, 253);
    height: 1000px;
    padding-top: 70px;
    text-align: center;
    line-height: 28px;
    font-family: $font-stack;
}

.blog_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
}

.blog_item-background {
    height: 620px;
    width: 350px;
    box-shadow: 0 0 9px 4px rgba(218, 217, 217, 0.849);
    border-bottom: 7px double rgba(218, 217, 217, 0.849);

}

.blog_items-txt {
    padding-top: 25px;
    font-family: $font-stack;
    font-size: 18px;
}

.blog_items-date {
    font-size: 15px;
    font-style: italic;
    color: rgb(189, 189, 189);
}



//FOOTER

.footer {
    background-color: #ff86a0;
    font-family: $font-stack;
}

.flex-footer {
    display: flex;
}

.footer_description {
    color: white;
    padding: 40px;
}

.footer_nav {
    color: white;
    padding: 40px;
    line-height: 30px;
}

.contacts_footer {
    color: white;
    padding: 40px;
}

.footer_bottom {
    height: 35px;
    font-size: 15px;
    background-color: #f37a95;
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    padding-top: 8px;
}



//BTN SCROLL TOP


#button {
    display: inline-block;
    background-color: #f37a95;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 36px;
    right: 25px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}





@media (max-width: 575px) {
    h2 {
        font-size: 20px;
    }

    //HERO

    .hero {
        height: 600px;
    }

    .hero-txt {
        padding-top: 130px;
    }

    .flex-nav {
        padding-top: 0;
    }

    .hero-txt {
        font-size: 30px;
    }

    .hero_describtion {
        padding-top: 150px;
    }

    //ABOUT

    .about_background {
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .about_describtion {
        padding: 5px 0px;
        font-family: $font-stack;
        font-size: 16px;
        color: rgb(160, 160, 160);
    }

    #btn_learn_more {
        margin-top: 0px;
    }

    .spoiler-body {
        font-size: 15px;
    }

    #btn-get-in-touch {
        margin-top: 0;
        margin-bottom: 50px;
    }

    //SERVICES

    .services {
        margin-top: 80px;
        padding-top: 50px;
        height: 480px;
    }

    .our_services_items_txt {
        display: none;
    }

    .our_services_items {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 50px;
    }

    .our_services_items_names {
        font-size: 15px;
        font-weight: 300;
        font-family: $font-stack;
        color: rgb(160, 160, 160);
    }

    .glyphicon {
        font-size: 25px;
    }

    //SUBSCRIBE

    .subscribe {
        padding-top: 50px;
        height: 470px;
    }

    .email_form {
        padding: 15px 40px;
        margin-top: 20px
    }

    //WORKS

    .works {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .home-demo-works {
        display: none;
    }


    .pink_background {
        width: 270px;
        height: 310px;
    }

    #works-img {
        width: 230px;
        height: 300px;
    }

    .work_example-txt {
        display: none;
    }

    .work_example_notebook-txt {
        display: none;
    }

    .work_example_item {
        padding-left: 35px;
        padding-bottom: 50px;
    }

    //REVIEWS

    .reviews {
        display: none;
    }

    //ACHIEMENTS

    .achievements {
        padding-top: 50px;
        height: 370px;
    }

    .achievements_numbers-items {
        font-size: 10px;
    }

    .numberYears,
    .numberProjects,
    .numberCustomers {
        font-size: 40px;
        font-weight: 600;
    }

    .txt_blocks_description-achievements {
        font-size: 14px;
    }

    //CONTACT

    .contact {
        height: 700px;
    }

    //BLOG

    .blog {
        padding-top: 40px;
        height: 2180px;
    }
    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    //FOOTER

    .footer_description {
        display: none;
    }

    .footer_nav {
        display: none;
    }
}




@media (max-width: 655px) {

    .hero {
        height: 700px;
    }

    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}





@media (max-width: 767px) {

    .hero-txt {
        padding-top: 130px;
    }

    .hero-txt {
        font-size: 30px;
    }

    .hero_describtion {
        padding-top: 150px;
    } 

    .our_services_items_txt {
        font-size: 14px;
    }

    .subscribe {
        padding-top: 50px;
        height: 430px;
    }

    .work_example-txt {
        padding-left: 50px;
        padding-top: 0;
        margin-bottom: 40px;
    }

    .work_example_notebook-txt {
        padding-right: 50px;
        padding-top: 0;
        margin-bottom: 40px;
    }

    .work_example_item {
        padding-bottom: 80px;
    }

    .home-demo-works {
        display: none;
    }

    .reviews {
        display: none;
    }
  
    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}






@media (max-width: 885px) {

    .reviews {
        display: none;
    }

    .home-demo-works {
        display: none;
    }

    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}





@media (max-width: 999px) {

        .menu__icon {
            display: inline-block;
        }
    
        #link_get-in-touch {
            display: none;
        }
    
        .header-navigation {
            position: fixed;
            display: none;
            top: 35px;
            right: 0;
            left: 0;
            margin-top: 90px;
            background-color: rgb(37, 201, 216);
            z-index: 1000;
            overflow: auto;
            box-shadow: 0 0 9px 4px rgb(198, 203, 204);
        }
    
        .nav_links {
            display: block;
            padding: 10px 0;
            text-align: center;
        }

    .hero-txt {
        padding-top: 100px;
    }

    .hero_describtion {
        padding-top: 100px;
    } 

    .subscribe {
        padding-top: 50px;
        height: 430px;
    }

    .our_services_items_txt {
        font-size: 14px;
    }
    
    .pink_background {
        width: 270px;
        height: 310px;
    }
    
    #works-img {
        width: 230px;
        height: 300px;
    }
    
    .work_example_item {
        padding-bottom: 50px;
    }

    .work_example-txt {
        padding-left: 50px;
        padding-top: 0px;
        margin-bottom: 40px;
    }

    .work_example_notebook-txt {
        padding-right: 50px;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .home-demo-works {
        display: none;
    }

    .reviews {
        display: none;
    }

    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}




@media (max-width: 1000px) {
    .reviews {
        display: none;
    }

    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}





@media (max-width: 1200px) {
 
    .reviews {
        display: none;
    }

    .blog {
        padding-top: 40px;
        height: 2180px;
    }

    .blog_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}





@media (max-width: 1400px) {
    .glyphicon-thumbs-up {
        display: none;
    }
    
}
