$font-stack: 'Muli',
sans-serif;
$font-stack-logo: 'Raleway',
sans-serif;
$font-stack-headers: 'Open Sans',
sans-serif;
$font-color: white;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    padding-bottom: 20px;
    font-family: $font-stack-headers;
    letter-spacing: 2px;
    font-weight: 800;
}

h4 {
    padding-bottom: 20px;
}


h3 {
    font-family: $font-stack-headers;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.container {
    overflow: hidden;
}

.hero {
    background: linear-gradient(to left, #eb9d7f, #f086af);
    width: 100%;
    height: 600px;
}

.flex-nav {
    display: flex;
    padding-top: 30px;
}

.logo {
    width: 20%;
    font-size: 30px;
    font-weight: bold;
    color: $font-color;
    font-family: $font-stack-logo;
}

.header-navigation {
    padding-top: 15px;
    width: 100%;
    text-align: right;
    font-family: $font-stack;
}

.nav_links {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 17px;
}

li a {
    text-decoration: none;
    color: $font-color
}

li a:visited {
    text-decoration: none;
    color: $font-color;
}

li a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.493);
}

li a:hover,
.nav_links:active {
    text-decoration: none;
    transition: all .8s;
    color: rgb(255, 219, 199);
}

#link_get-in-touch {
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    padding: 11px 23px;
}

.menu {
    text-align: right;
}

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.menu__icon span {
    display: block;
    position: absolute;
    margin-top: 10px;
    height: 9px;
    width: 100%;
    background: #ffffffab;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.nav_links:hover {
    text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .header-navigation {
    display: block;
}

.about {
    height: 400px;
    text-align: center;
    padding-top: 100px;
}

#btn-get-in-touch {
    margin-top: 30px;
    background-color: rgb(251, 223, 241);
    color: rgb(235, 134, 181);
    border-radius: 32px;
    font-size: 17px;
    font-family: $font-stack;
    width: 190px;
    height: 60px;
    border: none;
}

.services {
    height: 730px;
    background-color: rgb(249, 252, 253);
    padding-top: 100px;
    text-align: center;
}

.txt_above {
    font-size: 12px;
    color: rgb(189, 189, 189);
    letter-spacing: 3px;
}

.txt_blocks_description {
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
}

.our_services_items {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.our_services_items_names {
    font-size: 25px;
    font-weight: bold;
}

.our_services_items_txt {
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
}

.glyphicon {
    padding-bottom: 30px;
    font-size: 30px;
}

.strategy,
.design,
.development,
.help_supports {
    text-align: center;
}

.subcribe {
    background: linear-gradient(to left, #eb9d7f, #f086af);
    height: 530px;
    color: $font-color;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.email_form {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 30px;
    padding: 15px 70px;
    margin-top: 30px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.493);
    font-size: 16px;
}

.works {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}

.works_examples {
    margin-top: 80px;
}

.work_example_item {
    display: flex;
    padding-bottom: 100px;
}

.pink_background {
    background-color: rgb(251, 223, 241);
    width: 480px;
    height: 600px;
    padding-top: 20px;
    padding-left: 20px;
}

.work_example-txt {
    padding-left: 150px;
    padding-top: 150px;
}

.work_example_notebook-txt {
    padding-right: 150px;
    padding-top: 150px;
}

.portfolio_describtion {
    font-size: 18px;
    font-family: $font-stack;
    color: rgb(160, 160, 160);
    line-height: 30px;
}

#btn_view_portfolio {
    margin-top: 30px;
    background-color: rgb(251, 223, 241);
    color: rgb(235, 134, 181);
    border-radius: 32px;
    font-size: 15px;
    font-family: $font-stack;
    width: 140px;
    height: 40px;
    border: none;
}

#view_all_projects {
    margin-top: 30px;
    background-color: #ff86a0;
    ;
    color: rgb(255, 255, 255);
    border-radius: 32px;
    font-size: 17px;
    font-weight: bold;
    font-family: $font-stack;
    width: 190px;
    height: 60px;
    border: none;
}

.reviews {
    background-color: rgb(249, 252, 253);
    height: 500px;
    padding-top: 100px;
    text-align: center;
}

.achievements {
    height: 550px;
    background-color: rgba(17, 196, 212, 0.918);
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
    padding-top: 100px;
}

.achievements_numbers-items {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 15px;
    line-height: 28px;
    font-family: $font-stack;
}

.count {
    font-size: 50px;
    font-weight: 800;
}

.txt_blocks_description-achievements {
    color: rgba(255, 255, 255, 0.685);
}

.blog {
    background-color: rgb(249, 252, 253);
    height: 1100px;
    padding-top: 100px;
    text-align: center;
    line-height: 28px;
    font-family: $font-stack;
}

.blog_items {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.blog_item-background {
    height: 600px;
    width: 350px;
    box-shadow: 0 0 9px 4px rgba(218, 217, 217, 0.849);
    border-bottom: 7px double rgba(218, 217, 217, 0.849);

}

.blog_items-txt {
    padding-top: 25px;
    font-family: $font-stack;
    font-size: 18px;
}

.blog_items-date {
    font-size: 15px;
    font-style: italic;
    color: rgb(189, 189, 189);
}

.footer {
    background-color: #ff86a0;
    font-family: $font-stack;
}

.flex-footer {
    display: flex;
}

.footer_description {
    color: $font-color;
    padding: 40px;
}

.footer_nav {
    color: $font-color;
    padding: 40px;
    line-height: 30px;
}

.contacts_footer {
    color: $font-color;
    padding: 40px;
}

.footer_bottom {
    height: 25px;
    font-size: 13px;
    background-color: #f37a95;
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    padding-top: 3px;
}

@media (max-width: 320px) {}

@media (max-width: 575px) {
    h2 {
        font-size: 20px;
    }

    .flex-nav {
        padding-top: 0;
    }

    .about {
        height: 250px;
        padding-top: 50px;
    }

    #btn-get-in-touch {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .services {
        margin-top: 80px;
        padding-top: 50px;
        height: 350px;
    }

    .our_services_items {
        display: none;
    }

    .subcribe {
        padding-top: 50px;
        height: 470px;
    }

    .email_form {
        padding: 15px 50px;
    }

    .reviews {
        padding-top: 50px;
    }

    .works {
        display: none;
    }

    .reviews {
        height: 320px;
    }

    .achievements {
        padding-top: 50px;
        height: 480px;
    }

    .achievements_numbers-items {
        font-size: 10px;
    }

    .count {
        font-size: 40px;
        font-weight: 500;
        padding-right: 10px;
    }

    .blog {
        padding-top: 50px;
        height: 2200px;
    }

    .blog_items {
        flex-wrap: wrap;
    }

    .footer_description {
        display: none;
    }

    .footer_nav {
        display: none;
    }

}

@media (max-width: 767px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media screen and (max-width: 999px) {
    .menu__icon {
        display: inline-block;
    }

    .header-navigation {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 90px;
        background-color: #7bc8fb98;
        z-index: 1000;
        overflow: auto;
    }

    .nav_links {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
}

.loaderArea {
    background: linear-gradient(90deg, #f086af, #eb9d7f);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}


.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}