.portfolio_img_page {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 30px;
}

.our_latest_works {
    text-align: center;
}

.our_latest_works {
    padding: 50px 0px;
}